---
layout: default
title: 404
permalink: /404
nav_exclude: true
search_exclude: true
---

<h1>Page2 not found</h1>

<p>The page you requested could not be found. Try using the navigation {% if site.search_enabled != false %}or search {% endif %}to find what you're looking for or go to this <a href="{{ '/' | absolute_url }}">site's home page</a>.</p>
